@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --bg-main: #000000;
  --bg-secondary: #121212;
  --text-primary: #ffffff;
  --text-secondary: #a8a8a8;
  --message-box-color: #212328;
  --border-color: #262626; 
  --blue: #0095f6; 
  --hover-bg: #1a1a1a; 
}
/* gradient colors */
/* #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5,
    #962fbf,
    #d62976,
    #fa7e1e,
    #feda75 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
